/* Dedicated to God the Father */

/* All Rights Reserved Christopher Topalian Copyright 2000-2023 */

/* https://github.com/ChristopherTopalian */

/* https://github.com/ChristopherAndrewTopalian */

/* https://gitlab.com/ChristopherAndrewTopalian */

/* style001.css */

body
{
     background-color: rgb(40, 40, 40);
     font-family: arial;
     font-size: 20px;
     font-weight: bold;
     color: rgb(255, 255, 255);
}

.nameOfImage
{
    position: relative;
}

.nameOfImage:hover:after
{
    position: absolute;
    left: 0px;
    top: 50px;
    padding-left: 13px;
    padding-right: 13px;
    z-index: 98;
    background: rgba(0, 0, 0, .8);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    content: attr(gloss);
    white-space: pre;
}

/* underline that appears when hovering mouse on the name of the image */
.nameOfImage:hover:before
{
    position: absolute;
    top: 100%;
    width: 394px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0 5px 5px 5px transparent;
    border-color: rgb(255, 255, 255);
    content: "";
    z-index: 100;
    transform: scaleY(0.5);
}